@import url("//fonts.googleapis.com/css?family=Lobster|Cabin:400,700");
@import "bootswatch/dist/quartz/bootstrap.min.css";
@import "~bootswatch/dist/quartz/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/quartz/bootswatch";


body {
  font-family: "Cabin", Arial, sans-serif;
  color: #ffffff;
  background-color: #108a93;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lobster', cursive;
}

h1 small {
  color: #aaa;
}

h4 a, h4 a:hover {
  color: #fff;
}

h4 small {
  font-size: 60%;
  line-height: 200%;
  color: #aaa;
}


legend {
  font-family: 'Lobster', cursive;
}
