extends layout

block content
  .row
    .col-12.col-md-8
      .error= message

      app-house-post-list Loading

block scripts
      script(src='polyfills-LZBJRJJE.js')
      script(src='main-NW7NGJE3.js')
