extends layout
block content
  .row
    .col-12
      h1 #{title}
    .col-12.col-md-6
      .card.mb-3
        h3.card-header House Post title
        .card-body
          h5.card-subtitle Sub title
        .row
          .col-md-6
            svg.d-block.user-select-none(xmlns='http://www.w3.org/2000/svg', width='100%', height='200', aria-label='Placeholder: Image cap', focusable='false', role='img', preserveaspectratio='xMidYMid slice', viewbox='0 0 318 180', style='font-size:1.125rem;text-anchor:middle')
              rect(width='100%', height='100%', fill='#868e96')
              text(x='50%', y='50%', fill='#dee2e6', dy='.3em') Image cap
          .col-md-6
            h6.ps-3.card-subtitle Pets
            ul.list-group.list-group-flush
              li.list-group-item Dogs 2
              li.list-group-item Cats 0
              li.list-group-item Other Fish

        .row.mt-2
          .col-12
            h6.ps-3.card-subtitle Job description:
            .card-body
              p.card-text
                House Post description.
              a.card-link(href='#')
                button.btn.btn-primary Request Interest.
            .card-footer.text-muted
              | 2 days ago, 3 Applicants.
    .col-12.col-md-6
      .card.mb-3
        h3.card-header House Post title
        .card-body
          h5.card-subtitle Sub title
        .row
          .col-md-6
            svg.d-block.user-select-none(xmlns='http://www.w3.org/2000/svg', width='100%', height='200', aria-label='Placeholder: Image cap', focusable='false', role='img', preserveaspectratio='xMidYMid slice', viewbox='0 0 318 180', style='font-size:1.125rem;text-anchor:middle')
              rect(width='100%', height='100%', fill='#868e96')
              text(x='50%', y='50%', fill='#dee2e6', dy='.3em') Image cap
          .col-md-6
            h6.ps-3.card-subtitle Pets
            ul.list-group.list-group-flush
              li.list-group-item Dogs 1
              li.list-group-item Cats 2
              li.list-group-item Other None

        .row.mt-2
          .col-12
            h6.ps-3.card-subtitle Job description:
            .card-body
              p.card-text
                House Post description.
              a.card-link(href='#')
                button.btn.btn-primary Request Interest.
            .card-footer.text-muted
              | 2 days ago, 3 Applicants.
