extends layout
block content
  .row
    .col-12
      h1 #{title}
  .row
    .col-lg-12
      form(role='form', action="/api/account",method="POST")
        fieldset
          .row
            .col-lg-6
              .form-group.m-0
                label.col-form-label.mt-1(for='nameInput') Your Name
                input#nameInput.form-control(type='text', placeholder='Your Name')
              .form-group.m-0
                label.form-label.mt-1(for='exampleInputEmail1')  Your Email address
                input#exampleInputEmail1.form-control(type='email', aria-describedby='emailHelp', placeholder='Enter email')
                small#emailHelp.form-text.text-muted Please use an email you check often.
              .form-group.m-0
                label.form-label.mt-1(for='inputPassword') Password
                input#inputPassword.form-control(type='password', placeholder='Password', autocomplete='off')
            .col-lg-6.mt-lg-2
              .form-group.m-0
                label.form-label.mt-1(for='phoneInput') Your Mobile Number
                input#phoneInput.form-control(type='text', placeholder='Phone Number')
              .form-group.m-0
                label.form-label.mt-1(for='eircodeInput') Your Eircode
                input#eircodeInput.form-control(type='text', placeholder='Your Eircode')
          button.btn.btn-primary(type='submit') Register Now!
